{% extends 'base.html' %}

    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title class="text-info">Contáctanos</title>
    </head>
    <body>
    
        <h2 class="text-info">Contáctanos</h2>
    
        <p>Si quieres que agreguemos otra película , no dudes en contactarnos:</p>
        <p><strong>Correo Electrónico:</strong> contactoMymovielist@gmail.com</p>
        <p><strong>Teléfono:</strong> +507 6422-2494</p>
        <p>Estaremos encantados de ayudarte.</p>
    
    </body>
    </html> 
                </div>
            </div>
        </section>
        

    </main>
    {% endblock %}