{% extends 'base.html' %}

    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="text-info display-1 text-center">My Movie List</h1>
        </section>

    </main>
    <main class="container py-2">
        <section class="card card-body">
            <h4 class="text-secondary">
                My movie list es un sitio web con el que puedes guardar y añadir peliculas a favoritos
            </h4>
        </section>
       </main>

    {% endblock %}